* {
    margin: 0;
    padding: 0;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.header {
    height: 9vh;
    min-height: 70px;
    background: #333;
    padding: 5px;
    width: 90vw;
    border-radius: 8px;
    margin: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
   

}

.hTitulo {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.3rem;
}

.hTotal {
    color: #4169E1;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 2rem;
}

.cad {
    width: 90vw;
    height: 16vh;
    min-height: 90px;
    background: #333;
    margin: 3px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    
}

#divItem {
    margin-top: 31.5vh;
}


.cadInputs {
    display: flex;
    flex-direction: row;
}

.cadInput {
    height: 30px;
    border-radius: 8px;
    text-decoration: none;
    background: #444;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    font-weight: 500;
    text-align: center;
    margin: 5px;
}

.cadQtd {
    width: 70px;
}

.cadItem {
    width: 20vw;
}

.cadPreco {
    width: 100px;
}

.btn {
    height: 35px;
    margin: 5px;
    width: 100px;
    border-radius: 8px;
    border: 1.5px solid #4169E1;
    background: #444;
    color: #4169E1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    cursor: pointer;
}

.card {
    width: 91vw;
    background: #333;
    border-radius: 8px;
    height: 15vh;
    min-height: 90px;
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 14pt;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}


.divItemm, .divQtd, .divPreco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc {
    font-size: 1rem;
    color: #4169E1;
    margin: 3px;
}

.item {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.infos {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btns {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon {
    color: #4169E1;
    font-size: 14pt;
}

@media (max-width: 860px) {
    .hTitulo {
        font-size: 1.5rem;
    }

    .cadQtd {
        width: 2rem;
    }

    .card {
        width: 93vw;
    }

    .cadItem {
        width: 11rem;
    }

    .cadPreco {
        width: 3rem;
    }
    
    .item {
        justify-content: space-evenly;
    }

    .card {
        justify-content: center;
    }

    .editar, .delete {
        width: 1.7rem;
    }

    .icon {
        font-size: 12pt;
    }

    .infos {
        width: 80%;
    }

    .btns {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    
}