* {
    margin: 0;
    padding: 0;
}

body {
    background: #222;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 7vh;
    background: #333;
    padding: 5px;
    width: 90vw;
    border-radius: 8px;
    margin: 3px;
}

.hTitulo {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 5vh;
}

.cad {
    width: 90vw;
    height: 10vh;
    background: #333;
    margin: 3px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}